{% extends"base.html" %}
{% block profile_active %}active{% endblock %}
{% block content %}
<img src="https://img.freepik.com/premium-vector/programming-code-icon-made-with-binary-code-coding-hacker-matrix-background-with-digits-1-0_127544-1141.jpg?w=2000" alt="Image description" style="width: 50%;"><!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Hello</title>-->
<!--    <link rel="stylesheet" href="..//static/start.css">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->

<!--  <a href="/login" class="button">-->
<!--    <div class="button__line"></div>-->
<!--    <div class="button__line"></div>-->
<!--    <span class="button__text">login</span>-->
<!--    <div class="button__drow1"></div>-->
<!--    <div class="button__drow2"></div>-->
<!--  </a>-->

<!--</div>-->

<!--<div class="container">-->

<!--  <a href="/register" class="button">-->
<!--    <div class="button__line"></div>-->
<!--    <div class="button__line"></div>-->
<!--    <span class="button__text">Register</span>-->
<!--    <div class="button__drow1"></div>-->
<!--    <div class="button__drow2"></div>-->
<!--  </a>-->

<!--</div>-->

<!--</body>-->
{% endblock %}